<% layout("./layouts/boilerplate") -%>   
<body>
    <div style="height: 100vh; " >
        <div class="row PAGE">
        
            <div class="col-6 offset-4 title">
                <B><p>GURU SHISHYA</p></B>
            </div>
            <div class="alltg">
                    <form action="/alltg">
                        <button class="btn btn-primary  b-btn">All TGs</button>
                    </form>
                    
            </div>
              
                
                <div class="mybtn col-12 offset-4 title">
                    <form action="/form" method="GET">
                        <button class="btn btn-dark a-btn btn-lg fill" >Fill TG-Form</button>
                    </form>
                </div>  
        </div>
        
        
       
    </div>

</body>
</html>